/**全局CSS START**/
*,ul,li{
	margin: 0;padding:0;list-style-type: none
}
*{
	font-family: "方正中等线","微软雅黑"
}
.float-left{
	float: left
}
.float-right{
	float: right
}
.clear{
	clear: both
}
a{
	text-decoration: none;color:#666;}
a:hover{
	color:#1E6EE8;
}
a.active{
	color:#1E6EE8;
	font-weight: bold;
}

/**全局CSS END**/


/**HEADER START**/
.header{
	width: 100%;height: 58px;border-bottom: 1px #eee solid;clear: both
}
.header-in{
	width: 960px;height: 58px;margin: 0 auto;
}
.header-in ul{
	margin-left: 96px
}
.header-in ul li{
	font-size: 16px;margin-right: 60px;line-height: 58px;display: inline;
}
.search-form{
	margin-left: 92px
}
.input-style{
	width: 176px;height: 34px;margin-top: 12px;border-radius: 4px;border: 1px solid #ddd
}
.button-style{
	width: 72px;height: 36px;border: 0;border-radius: 4px;line-height:34px;background-color:  #1E6EE8;color: #fff;font-size: 14px;
}
/**HEADER END**/
.main{
	width: 960px;height: auto;margin: 0 auto
}
.left-frame{
	width: 696px;height: auto;margin-right: 10px;
}
p.latest{
	line-height: 78px;font-size: 16px;
}
.left-frame ul li{
	float: left;margin-right: 30px;
}
.left-frame ul li img{
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);
}
.left-frame ul li p {
	text-align: center;color: #404040;font-size: 16px;line-height: 40px;
}
.left-frame ul li p span{
	padding-left: 20px;color: #36B2C5
}
/**recommend end**/
.middle-img{
	width: 662px;height: 106px;margin-top: 12px;margin-bottom: 28px;background-image: url(../images/banner.png); background-size:100%;border-radius: 4px;
}
.select-movie{
	font-size: 18px;color: #fff;line-height: 110px;padding-left: 40px
}
.bianji-selected{
	width: 154px;height: 50px;border: 1px solid rgba(255,255,255,0.8);border-radius: 5px;color: #fff;font-size: 16px;text-align: center;line-height: 50px;margin-top: 30px;margin-left:180px;
}
p.down-p{
	line-height: 78px;
}
.right-continer{
	width: 252px;height: auto;border: 1px solid #eee;border-radius: 7px
}
.right-continer ul{
	margin-left: 20px;margin-top: 35px;margin-bottom: 35px
}
.right-continer ul li{
	margin-top: 20px;width: 232px;height: 150px
}
.right-continer ul li img{
	border-radius: 2px;
}
p.num{
	padding-right: 6px
}
.movie-info{
	width: 80px;height: 150px;padding-left: 10px
}
.fanhao{
	color:#000;
}
.size{
	color:#36B2C5;font-size: 15px;line-height: 40px
}
p.down{
	color: #666;font-size: 10px;
}
p.more-movies{
	text-align: center;color: #36B2C5;padding-bottom: 30px
}